<% include ./partials/footer %>

<div class="iframe">
<br></br>
<h1>Map of Donation Lockers</h1>
<iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiZDNiNjBjOWQtNTY1OC00OGYzLTg5ZGEtYWMzMmEwYjBlNmFhIiwidCI6ImU3NWY3ZGFiLWFkM2MtNDcyMy1hZThkLTU3NGJjMDY2OTc3OSJ9" frameborder="0" allowFullScreen="true"></iframe>
<br></br>
<br></br>
<h1>Analytics Dashboard</h1>
<iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiODVmYmU1MjktYzNmNC00YzkxLWIyYTUtOTliNzg1ZGJhNjUxIiwidCI6IjZjMWQ0MTUyLTM5ZDAtNDRjYS04OGQ5LWI4ZDZkZGNhMDcwOCIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
</div>

<% include ./partials/header %>
